<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demon.redis_cache.mapper.UserMapper">
    <select id="getUserById" parameterType="integer" resultType="com.demon.redis_cache.entity.User">
        select * from user where id = #{id}
    </select>
    <update id="updateUser" parameterType="com.demon.redis_cache.entity.User">
        update user set age = #{age},name=#{name} where id=#{id}
    </update>
</mapper>